* {
	box-sizing: border-box;
}

.anon {
	display: none;
}

/*.not-anon {
	display: none;
}*/

@media print {
	@page {
		size: letter;
		margin: 0.75in;
	}

	#pageborder {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-width: 0.2rem;
		border-style: solid dashed;
		border-color: #555;
	}

	body {
		display: table;
		table-layout: fixed;
		height: auto;

		background: transparent !important;

		margin: 0mm !important;
		padding: 0mm !important;
		/*margin-top: 0mm !important;
		margin-bottom: 0mm !important;
		padding-top: 0mm !important;
		padding-bottom: 0mm !important;*/
	}
}

/* Do not include scrollbar in width calculations */
html {
	width: 100vw;
	font-size: 1.25em;
	overflow-x: hidden;
}

body {
	margin: 2em auto;
	max-width: 50rem;
	padding: 1rem 1rem 1rem;
	
	/* Disable page border when printing */
	@media screen {
		border-width: 0.2rem;
		border-style: solid dashed;
		border-color: #555;
	}

	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.3;
	
	background: #F4F3F2;
	color: #555;
}

@media only screen and (max-width: 1024px) {
	body {
		margin: 0;
	}
}

/* Header/Footer items */
.header {
	padding: 1rem;
	background: #347bed;
	color: #afc8f0;
}

.header h1 {
	font-size: 2rem;
}

.nav {
	position: sticky;
	position: -webkit-sticky;
	
	display: flex;
	justify-content: space-between;
}

.bar {
	line-height: 0.75;
	background-color: #333;	
	top: 0;
	overflow: hidden;
}

.bar a, .bar p {
	flex-grow: 1;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 0.7rem 0;
	text-decoration: none;
	margin: 0;
}

.bar a.right {
	float: right;
}

.bar a:hover {
	background-color: #ddd;
	color: black;
}

.bar a.active {
	background-color: #666;
	color: white;
}

/* Text elements */
.big {
	font-size: 1.5em;
}

.bold {
	font-weight: bold;
	font-size: 1.1em;
}

.red {
	color: red
}

.orange {
	color: #f59042;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.right {
	float: right;
}

.caption {
	font-size: 0.8rem;
	text-align: center;
}

.caption-right {
	font-size: 0.8rem;
	text-align: right;
}

p.compact {
	margin-top: 0.1rem;
	margin-bottom: 0.15rem;
}

h1,h2,h3 {
	color: #333;
	margin-top: 1rem;
	margin-bottom: 0.1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	font-size: 1.5em;
}

h4 {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

p {
	margin-top: 0rem;
	margin-bottom: 0.8rem;
}

a {
	color: #ca75ff;
}

/* Header lines */
hr {
	border: 0.1rem solid #555;
}

/* Code Blocks */
code,pre {
	font-family: monospace;
	background: #f5f7f9;
	color: #a7adba;
}

pre {
	counter-reset: line;
	tab-size: 4;
	padding: 1rem;
	border-left: 0.1rem solid #69c;
	border-bottom: 0.05rem solid #d8dee9;
}

code {
	counter-increment: line;
}

code:before {
	content: counter(line);
	padding-right: 1rem;
	display: inline-block;
	width: 1rem;
}

/* codeblock emphasis */
pre b {
	font-weight:normal;
	color:#039;
}

/* codeblock strings */
pre u, pre u b {
	text-decoration:none;
	color:#083;
}

/* codeblock comments */
pre i, pre i *, pre i * * {
	letter-spacing:-0.1rem;
	text-decoration:none;
	font-style:normal;
	color:#c55;
}
